___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [55]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [56]:
# Check
lesser_of_two_evens(2,4)

2

In [57]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [58]:
def animal_crackers(text):
    words_list = text.split()
    return len(words_list) == 2 and words_list[0][0] == words_list[1][0]

In [59]:
# Check
animal_crackers('Levelheaded Llama')

True

In [60]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [61]:
def makes_twenty(n1,n2):
  return n1 == 20 or n2 == 20 or n1 + n2 == 20

In [62]:
# Check
makes_twenty(20,10)

True

In [63]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [64]:
def old_macdonald(name):
    return name[:3].capitalize() + name[3:].capitalize()

In [65]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [66]:
def master_yoda(text):
  words_list = text.split()
  i = len(words_list)
  words_list_reversed = []
  for letter in words_list:
    i -= 1
    words_list_reversed.append(words_list[i])
  
  return ' '.join(words_list_reversed)

In [67]:
# Check
master_yoda('I am home')

'home am I'

In [68]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [69]:
def almost_there(n):
    return (n >= 90 and n <= 110) or (n >= 190 and n <= 210)

In [70]:
# Check
almost_there(104)

True

In [71]:
# Check
almost_there(150)

False

In [72]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [73]:
def has_33(nums):
    for i in range(len(nums) - 1):
        if nums[i] == 3 and nums[i + 1] == 3:
            return True
    return False

In [74]:
# Check
has_33([1, 3, 3])

True

In [75]:
# Check
has_33([1, 3, 1, 3])

False

In [76]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [77]:
def paper_doll(text):
  return ''.join([letter * 3 for letter in text])

In [78]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [79]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [80]:
def blackjack(a,b,c):
    if is_valid_card(a) and is_valid_card(b) and is_valid_card(c):
      total = a + b + c
      
      if 11 in (a,b,c):
        total -= 10
  
      return total if total <= 21 else 'BUST'

def is_valid_card(value):
  return 1 <= value <= 11

In [81]:
# Check
blackjack(5,6,7)

18

In [82]:
# Check
blackjack(9,9,9)

'BUST'

In [83]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [84]:
def summer_69(arr):
    total = 0
    ignoring = False
    for number in arr:
        if number == 6:
            ignoring = True
        elif number == 9 and ignoring:
            ignoring = False
        elif not ignoring:
            total += number
    
    return total

In [85]:
# Check
summer_69([1, 3, 5])

9

In [86]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [87]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [119]:
def spy_game(nums):
  code_sequence = [0, 0, 7]
  code_index = 0
  
  for number in nums:
    if number == code_sequence[code_index]:
        code_index += 1
        if code_index == len(code_sequence):
          return True
    
  return False

In [122]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [90]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [91]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [97]:
def count_primes(num):
    count = 0
    for number in range(num):
      if is_prime(number):
          count += 1
    
    return count

def is_prime(number):
  if number <= 1:
        return False
  if number <= 3:
        return True
  if number % 2 == 0 or number % 3 == 0:
        return False
    
  i = 5
  while i * i <= number:
    if number % i == 0 or number % (i + 2) == 0:
        return False
    i += 6

  return True

In [98]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [114]:
big_letters_map = {
  'a': 
"""
  *  
 * * 
*****
*   *
*   *
""",
  'b': 
"""
**** 
*   * 
****
*   *
**** 
"""
}

def print_big(letter):
    print(big_letters_map[letter])

In [115]:
print_big('a')
print_big('b')

  *
 * *
*****
*   *
*   *


****
*   *
****
*   *
****

## Great Job!